# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cache
.cache

# OS & IDE folders
.idea/
.DS_Store
.thumbs
.vscode/
.markdownlint.json

# Dependencies
/vendor/
/vendor
vendor/
node_modules/
/node_modules
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
/public/storage
public/hot
/public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

composer.lock
package-lock.json

storage/*.key
/storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
