$color__main: #f7c91e; // Main - Ripe Lemon
$color__secondary--alternative: #4f1ef7; // Secondary - Actions & Icons Alternative - Electric Violet
$color__secondary: #2f3e55; // Secondary - Actions & Icons Principal - Pickled Bluewood
$color__action_active: #1e1ef7; // Actions & Icons Active - Dark Blue
$color__black: #1a1a1a; // Black for Icons & Text - Cod Gray
$color__inactive_subtitle: #505050; // Inactive / Subtitle & Separator - Dove Gray
$color__background: #fafafa; // Background - Alabaster
$color__validation_ok: #34f71e; // Validation OK - Harlequin
$color__validation_no: #f71e1e; // Validation NO - Torch Red

:root {
    --colors-main: #{$color__main}; // Main - Ripe Lemon
    --colors-secondary-principal: #{$color__secondary}; // Secondary - Actions & Icons Alternative - Electric Violet
    --colors-secondary-alternative: #{$color__secondary--alternative}; // Secondary - Actions & Icons Principal - Pickled Bluewood
    --colors-active: #{$color__action_active}; // Actions & Icons Active - Dark Blue
    --colors-black: #{$color__black}; // Black for Icons & Text - Cod Gray
    --colors-inactive: #{$color__inactive_subtitle}; // Inactive / Subtitle & Separator - Dove Gray
    --colors-background: #{$color__background}; // Background - Alabaster
    --colors-validation-ok: #{$color__validation_ok}; // Validation OK - Harlequin
    --colors-validation-no: #{$color__validation_no}; // Validation NO - Torch Red
}
