@import 'btnMixin';

button {
    border: 0 solid transparent;

    font-size: 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        border-radius: 20px;

        background-image: var(--iconLink);
        background-position: center;
        background-size: var(--iconSize);
        background-repeat: no-repeat;

        transform: rotate(var(--iconRotation));
    }
}
