@import 'src/scss/colors';
@import 'src/scss/typography';

div.modal {
    display: flex;
    justify-content: center;

    padding: 20px 0;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    overflow-y: scroll;

    > span.background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 17px;
        z-index: -1;

        background-color: rgba(0, 0, 0, 0.5);

        cursor: pointer;
    }

    > div.modal__content {
        display: flex;
        flex-direction: column;

        min-height: 90%;
        height: fit-content;
        width: 50%;

        padding: 25px 0;

        border-radius: 15px;

        background-color: white;

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

        > div {
            margin: auto 0;
            margin-top: 5%;
        }
    }
}
